<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>bizness - Business and Corporate HTML5 Template</title>
<!-- Stylesheets -->
<link rel="shortcut icon" type="image/png" href="images/favicon.png" tppabs="images/favicon.png" />
<link href="css/bootstrap.css" tppabs="css/bootstrap.css" rel="stylesheet">
<link href="css/bootsnav.css" tppabs="css/bootsnav.css" rel="stylesheet">
<link href="css/style.css" tppabs="css/style.css" rel="stylesheet">
<!-- Revolution Slider -->
<link href="css/revolution-slider.css" tppabs="css/revolution-slider.css" rel="stylesheet">
<!-- Responsive -->
<link href="css/responsive.css" tppabs="css/responsive.css" rel="stylesheet">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<style>
  .default-gallery-item .overlay-box {
    background: rgba(34, 34, 34, 0.90);
  }
  .portfolio-item .overlay-inner h4 {
    font-weight: normal;
    font-size: 15px;
    color: #cee002;
  }
  .portfolio-filter li a {
    display: inline-block;
  }
  .portfolio-filter li a:hover, .portfolio-filter li.active a {
    background: transparent;
    color: #cee002;
    border-radius: 0;
  }
  .slider-info {
    position: relative;
    z-index: 111;
  }
  .about-info, .bg-light .portfolio-filter li a, .bg-light .section-title h2, .post-content .title + p, .bg-light .about-title-2 h2 {
     color: #fff;
  }
  .bg-silver-light {
    background: #333;
  }


</style>
</head>
<!--Change Class in body to change color Scheme for Homepages  ie theme-green , theme-green -->

<body class="theme-green bg-light">
<div class="page-wrapper"> 
  
  <!-- start preloader -->
  <div class="preloader"></div>
  <!-- end preloader --> 
  
  <section class="parallax overlay overlayer-black" data-bg-image="images/bg/bg3.jpg">
    <div class="container-fluid pn">
        <div class="slider-wrap">
          <div class="slider-content pt100 pb100">
            <div class="slider-info text-center text-center-xs pt100 pb100">
                <h4 class="text-white mb20 wow fadeIn">Version 1.0</h4>
                <img src="demo/logo.png" tppabs="demo/logo.png" alt="">
                <p class="mt50 text-white" style="font-size: 18px"> <span class="text-theme-color">Mega Menu</span> <span class="p10">|</span> 2+ Home Demos  <span class="p10">|</span> <br> 54+ Pages   <span class="p10">|</span> 28+ Portfolio <span class="p10">|</span> RTL Supported</p>
            </div>
          </div>
        </div>
        
    </div>
  </section>
  
  <!-- portfolio start -->
  <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="section-wrap">
            <div class="row clearfix">
              <div class="portfolio-filter-item mb30 text-center">
                <ul class="portfolio-filter">
                  <li class="active"><a href="#" data-filter="*">All Projects</a></li>
                  <li><a href="#" data-filter=".item-one">Multipage</a></li>
                  <li><a href="#" data-filter=".item-two">Boxed Layout</a></li>
                  <li><a href="#" data-filter=".item-three">masonry</a></li>
                  <li><a href="#" data-filter=".item-four">RTL Layout</a></li>
                </ul>
              </div>
              <div class="portfolio col-4 gutter mtn">
                <div class="portfolio-item default-gallery-item item-one">
                  <div class="inner-box"> 
                    <!--Image Box-->
                    <figure class="image-box"><img src="demo/demo1.jpg" tppabs="demo/demo1.jpg" alt="" class="img-responsive"></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <div class="content"> <a href="index-mp-layout1.html" tppabs="index-mp-layout1.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                        <h4>Classic Home</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="portfolio-item default-gallery-item item-one">
                  <div class="inner-box"> 
                    <!--Image Box-->
                    <figure class="image-box"><img src="demo/demo2.jpg" tppabs="demo/demo2.jpg" alt="" class="img-responsive"></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <div class="content"> <a href="index-mp-layout2.html" tppabs="index-mp-layout2.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                        <h4>Classic Home Light</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="portfolio-item default-gallery-item item-two">
                  <div class="inner-box"> 
                    <!--Image Box-->
                    <figure class="image-box"><img src="demo/box-demo1.jpg" tppabs="demo/box-demo1.jpg" alt="" class="img-responsive"></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <div class="content"> <a href="index-bx-mp-layout1.html" tppabs="index-bx-mp-layout1.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                        <h4>Classic Home Light</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="portfolio-item default-gallery-item item-two">
                  <div class="inner-box"> 
                    <!--Image Box-->
                    <figure class="image-box"><img src="demo/box-demo2.jpg" tppabs="demo/box-demo2.jpg" alt="" class="img-responsive"></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <div class="content"> <a href="index-bx-mp-layout2.html" tppabs="index-bx-mp-layout2.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                        <h4>Classic Home Light</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="portfolio-item default-gallery-item item-three">
                  <div class="inner-box"> 
                    <!--Image Box-->
                    <figure class="image-box"><img src="demo/masonry.jpg" tppabs="demo/masonry.jpg" alt="" class="img-responsive"></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <div class="content"> <a href="project-grid-masonry-3.html" tppabs="project-grid-masonry-3.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                        <h4>Masonry</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="portfolio-item default-gallery-item item-three">
                  <div class="inner-box"> 
                    <!--Image Box-->
                    <figure class="image-box"><img src="demo/grid.jpg" tppabs="demo/grid.jpg" alt="" class="img-responsive"></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <div class="content"> <a href="project-grid-3.html" tppabs="project-grid-3.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                        <h4>Grid</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="portfolio-item default-gallery-item item-four">
                  <div class="inner-box"> 
                    <!--Image Box-->
                    <figure class="image-box"><img src="demo/rtl-demo-1.jpg" tppabs="demo/rtl-demo-1.jpg" alt="" class="img-responsive"></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <div class="content"> <a href="index-mp-layout1-rtl.html" tppabs="index-mp-layout1-rtl.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                        <h4>RTL</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="portfolio-item default-gallery-item item-four">
                  <div class="inner-box"> 
                    <!--Image Box-->
                    <figure class="image-box"><img src="demo/rtl-demo-2.jpg" tppabs="demo/rtl-demo-2.jpg" alt="" class="img-responsive"></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <div class="content"> <a href="index-mp-layout2-rtl.html" tppabs="index-mp-layout2-rtl.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                        <h4>RTL 2</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="portfolio-item default-gallery-item item-one item-two item-three item-four">
                  <div class="inner-box"> 
                    <!--Image Box-->
                    <figure class="image-box"><img src="demo/coming-soon.jpg" tppabs="demo/coming-soon.jpg" alt="" class="img-responsive"></figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <div class="content"> <a href="#" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                        <h4>Coming Soon</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- portfolio start -->
  <section id="portfolio" class="bg-silver-light">
    <div class="container">
      <div class="section-title text-center">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h1 class="text-white">Special Pages</h1>
            <div class="small-line-center"></div>
          </div>
        </div>
      </div>
      <div class="section-wrap">
        <div class="row clearfix">
          <div class="portfolio col-4 gutter mtn">
            <div class="portfolio-item default-gallery-item item-one">
              <div class="inner-box"> 
                <!--Image Box-->
                <figure class="image-box"><img src="demo/pricing.jpg" tppabs="pricing.jpg" alt="" class="img-responsive"></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                  <div class="overlay-inner">
                    <div class="content"> <a href="pricing.html" tppabs="pricing.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                    <h4>Pricing</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolio-item default-gallery-item item-one">
              <div class="inner-box"> 
                <!--Image Box-->
                <figure class="image-box"><img src="demo/services.jpg" tppabs="demo/services.jpg" alt="" class="img-responsive"></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                  <div class="overlay-inner">
                    <div class="content"> <a href="service-1.html" tppabs="service-1.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                    <h4>Services</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolio-item default-gallery-item item-one">
              <div class="inner-box"> 
                <!--Image Box-->
                <figure class="image-box"><img src="demo/blog-classic.jpg" tppabs="demo/blog-classic.jpg" alt="" class="img-responsive"></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                  <div class="overlay-inner">
                    <div class="content"> <a href="service-1.html" tppabs="service-1.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                    <h4>Blog Classic</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolio-item default-gallery-item item-one">
              <div class="inner-box"> 
                <!--Image Box-->
                <figure class="image-box"><img src="demo/blog-grid.jpg" tppabs="demo/blog-grid.jpg" alt="" class="img-responsive"></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                  <div class="overlay-inner">
                    <div class="content"> <a href="blog-grid.html" tppabs="blog-grid.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                    <h4>Blog Grid</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- portfolio start -->
  <section id="portfolio">
    <div class="container">
      <div class="section-title text-center">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h1 class="text-white">Navigation Options</h1>
            <div class="small-line-center"></div>
          </div>
        </div>
      </div>
      <div class="section-wrap">
        <div class="row clearfix">
          <div class="portfolio col-4 gutter mtn">
            <div class="portfolio-item default-gallery-item item-one">
              <div class="inner-box"> 
                <!--Image Box-->
                <figure class="image-box"><img src="demo/nav_1.png" tppabs="demo/nav_1.png" alt="" class="img-responsive"></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                  <div class="overlay-inner">
                    <div class="content"> <a href="index-mp-layout1.html" tppabs="index-mp-layout1.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                    <h4>Nav 1</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolio-item default-gallery-item item-one">
              <div class="inner-box"> 
                <!--Image Box-->
                <figure class="image-box"><img src="demo/nav_2.png" tppabs="demo/nav_2.png" alt="" class="img-responsive"></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                  <div class="overlay-inner">
                    <div class="content"> <a href="index-mp-layout2.html" tppabs="index-mp-layout2.html" target="_blank" class="image-link" title="Image Caption Here"><span class="icon icon-Goto"></span></a>
                    <h4>Nav 2</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--End pagewrapper--> 
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>
<script src="js/jquery.js" tppabs="js/jquery.js"></script> 
<script src="js/all-jquery.js" tppabs="js/all-jquery.js"></script>
 <script src="js/bootsnav.js" tppabs="js/bootsnav.js"></script>
<script src="js/script.js" tppabs="js/script.js"></script> 
</body>
</html>