/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.os{
		display: block;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.icon{
		position: static !important;
		text-align: center!important;
	}

	.platform h4,span{
		margin: 0!important;
	}

	.col-md-4{
		text-align: center;
		margin-bottom: 50px;
	}
	
	.block p{
		width: 60%;
		position: relative;
		left: 50%;
		transform: translate(-50%);
	}

	.phone img{
		width: 100%!important;
		left: 0%!important;
	}

	.wrap h2{
		text-align: center;
		margin: 30px 0!important;
	}

	.user{
		top: 76%!important;
	}

	.item p{
		font-size: 14px!important;
	}
	
	.platform i{
		font-size: 35px !important;
		top: 30%!important;
	}

	.user h5,span{
		font-size: 12px!important;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.headerUnder h1 {
	 	font-size: 27px !important;
	}
	.headerUnder i {
  		padding: 10px 5px 10px 0 !important;
	}
}

@media only screen and (max-width : 600px) {
	.user{
		top: 50%!important;
	}

	.owl-nav .owl-prev {
  		left: -20% !important;
	}

	.owl-nav .owl-next {
  		right: -20% !important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 490px) {
	.headerUnder button {
  		border-radius: 80px !important;
  		padding: 5px 20px !important;
  		font-size: 15px !important;
	}

	.headerUnder li {
  		padding: 10px 20px;
  		width: 35vh;
	}

	.cards button{
		padding: 7px 25px !important;
	}

	.user{
		top: 60%!important;
	}

	.platform h4,span{
		margin: 0 0 0 15%!important;
	}

	.platform i{
		font-size: 28px !important;
		top: 30%!important;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 400px) {
	.headerUnder{
		display: flex; 
		justify-content: center;
		align-items: center;
	}

	.headerUnder h1 {
	 	font-size: 20px !important;
	}

	.headerUnder li {
  		padding: 10px 20px;
  		width: 35vh;
	}

	.headerUnder button {
  		border-radius: 80px !important;
  		padding: 5px !important;
  		font-size: 12px !important;
  		width: 20vh;

	}

	.owl-nav .owl-prev {
  		left: -20% !important;
	}

	.owl-nav .owl-next {
  		right: -20% !important;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.cards button{
		font-size: 14px !important;
	}

	.cards{
		margin: -10px !important;
	}

	.cards{
		margin: -10px !important;
	}

	.platform i{
		font-size: 28px !important;
		top: 35%!important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
























