.wrap{
	display: flex;
	justify-content: center;
	margin: 10%;
}

input{
	font-size: 22px;
}

h2{
	position: absolute;
	font-size: 45px;
	font-family: Arial;
	top: -3%;
	left: 50%;
	transform: translate(-50%, 3%);
}


#line{
	width: 100%;
	height: 10px;
	background: #000;
	position: fixed;
	bottom: 0;
}