<!DOCTYPE html>
<html lang="en">
<head>
	<title>Just Title</title>
	<meta charset="UTF-8">
	<meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />	
	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid-3.3.1.min.css" type='text/css'>
	<link rel="stylesheet" href="libs/font-awesome-4.2.0/css/font-awesome.min.css" type='text/css'>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	
	
	<div class="cont">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
						
					<div class="wrap" id="menu">
						<h1>Выберите способ заработка</h1>
						<div class="col-md-4">
							<a href="#s1" class="scrol">
								<div class="border">
									<div class="card">
										<div class="hover-item"></div>
										<img src="img/icon.png" alt="img">
										<p>Торговать</p>
										<i class="fa fa-angle-down arrow" id="arrow" aria-hidden="true"></i>
									</div>
								</div>
							</a>

							<div class="col-md-10">
								<div class="section" id="elem">
				            			<p>Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена!</p>
						            	<h3>Как это работает</h3>
						            	
										
										<div class="text">
											<ul>
											<li>
												<p>1</p>
												Вы выбираете управляющего из рейтинга по фильтру Options
											</li>
											<li>
												<p>2</p>
												Подключаете свой счет к счету Управляющего
											</li>
											<li>
												<p>3</p>
												На вашем счете начинается копирование сделок
											</li>
											<li>
												<p>4</p>
												Обратите внимание, что вы не перечисляете свои деньги Управляющему. 
											</li>
											<li>
												<p>5</p>
												Вы можете подключиться к нескольким Управляющим одновременно.
											</li>
											<li>
												<p>6</p>
												Вы можете отключиться от Управляющих в любой момент.
											</li>
										</ul>
										</div>
													
						            	<button>Продолжить</button>
				            		</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="border">
								<div class="card">
									<div class="hover-item"></div>
									<img src="img/icon2.png" alt="img">
									<p>Инвестировать</p>
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="border">
								<div class="card">
									<div class="hover-item"></div>
									<img src="img/icon3.png" alt="img">
									<p>Привлекать инвесторов</p>
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<main>
		<div class="main-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					  <div class="main">
				        <div class="wrapper">

				          <div class="tabs">
				            <span class="tab ser" id="s1">Торговать</span>
				            <span class="tab">Инвестировать</span>
				            <span class="tab">Привлекать инвесторов</span>        
				          </div>

				          <div class="tab_content">
				            <div class="tab_item">
				            	<div class="col-md-7">
				            		<div class="sect">
				            			<p>Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена!</p>
						            	<h3>Как это работает</h3>
						            	
										
										<div class="text">
											<ul>
											<li>
												<p>1</p>
												Вы выбираете управляющего из рейтинга по фильтру Options
											</li>
											<li>
												<p>2</p>
												Подключаете свой счет к счету Управляющего
											</li>
											<li>
												<p>3</p>
												На вашем счете начинается копирование сделок
											</li>
											<li>
												<p>4</p>
												Обратите внимание, что вы не перечисляете свои деньги Управляющему. 
											</li>
											<li>
												<p>5</p>
												Вы можете подключиться к нескольким Управляющим одновременно.
											</li>
											<li>
												<p>6</p>
												Вы можете отключиться от Управляющих в любой момент.
											</li>
										</ul>
										</div>
													
						            	<button>Продолжить</button>
				            		</div>
				            	</div>
				            </div>

				            <div class="tab_item">
				             	2
				            </div>

				            <div class="tab_item">
				           		3
				          </div>

				        </div>
				      </div>

				</div>
			</div>
		</div>
	</div>
	</main>

	








	<script src='libs/jquery/jquery-1.11.1.min.js'></script>
	<script src='js/common.js'></script>
</body>
</html>