*{
	padding: 0;
	margin: 0;

}

body{
	outline: none;
	box-sizing: border-box;
  	/*display: block;	*/
  	font-family: Arial;
}

.launch{
	margin-top: 12rem;
	padding: 25px 80px 25px;
	font-family: arial;
	font-size: 35px;
	cursor: pointer;
	background: #333;
	color: #eee;
	border: #565656 8px solid;
	border-radius: 23px;
	transition: 0.1s ease-in-out;
	text-transform: uppercase;
	display: none;
}

.launch:hover{
	border: #686868 8px solid;
}

.launch:active{
	transform: scale(0.88);
}

.bar input[type='submit']{
	padding: 21px 20px 21px;
	text-transform: uppercase;
	font-family: arial, san-serif;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 2px;
	position: relative;
	top: -25	px;
}

.bot{
	margin: 20px 0;
	/*text-align: right;*/
	/*display: block;*/
	background-color: #DFFF5F;
	list-style: none;
	width: 300px;
	border-radius: 10px;
	border: 2px solid #333;
	position: relative;
	top: 0;
	left: 61%;
}

.user{
	margin: 20px 0;
	background-color: #7AFF50;
	list-style: none;
	width: 300px;
	border-radius: 10px;	
	border: 2px solid #333;
}
