body{
	background-image: url(https://avatanplus.com/files/resources/mid/59cd0a3b52de615ec8eff7cb.png);
	font-family: Arial;
}

#viewCode{
	display: none;
}

.selectImg > img{
	position: relative;
	width: 15%;
	height: 150px;
	display: block;
	cursor: pointer;
	border: 1px solid #333;
	transition: 0.1s ease-in-out;
}

.selectImg > img:hover{
	transform: scale(1.1);
}

.selectImg{
	/*float: right;*/
}

.enterImg{
	position: relative;
	/*z-index: 1;*/
	display: flex;
	justify-content: center;
	top: 30px;
}

.defaultImg{
	position: absolute;
	left: 50%;
	top: 5%;
	transform: translate(-50%, 25%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	background: url(https://images.pexels.com/photos/281184/pexels-photo-281184.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-repeat: no-repeat;
	width: 40%;
	height: 50%;
	box-shadow: 0 0 70px;
	animation: shadow 4s linear infinite;
	animation-duration: 3s;
	overflow: hidden;
}

.responsive{
	background-size: cover !important;
}

@keyframes shadow {
	10%{
		box-shadow: 0 0 120px;

	}
}

.nav{
	position: absolute;
	left: 0;
	top: 0;
	border: solid #444 3px;
	height: 99%;
	background: #7D65E9;
	border-top-right-radius: 15px;
	padding: 5px;

}

.nav > li{
	list-style: none;
}

.nav > li > i{
	font-size: 25px;
	padding: 10px 15px;
	border: solid 4px #333;
	cursor: pointer;
	background: #453433;
	color: #fff;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	margin: 10px 3px 3px;
	transition: all 0.2s ease-in-out
}

.nav > li > .fa-sliders{
	background: #1DA362;
}

.nav > li > #borderMenu{
	/*padding: 15px;*/
}

.nav > li > #filterCode{
	background: #1280C4;
}

.nav > li > #addText{
	background: #F62541;
}

.nav > li > i:hover{
	transform: scale(1.05);
	box-shadow: 0 0 10px #444; 
}

.navbar{
	position: absolute;
	top: 2%;
	margin-left: -500px;
	background: #453433;
	color: #fff;
	font-family: Arial;
	text-transform: uppercase;
	/*padding: 25px;*/
	transform: scale(0.2) rotate(0);
	transition: 0.5s ease-in-out;

}

.properties{
	position: absolute;
	top: 2%;
	margin-left: -500px;
	background: #159C59;
	color: #fff;
	font-family: Arial;
	text-transform: uppercase;
	/*padding: 25px;*/
	transform: scale(0.2) rotate(0);
	transition: 0.5s ease-in-out;

}

.navbar > a{
	position: absolute;
	top: 0;
	right: -13%;
	font-size: 25px;
	cursor: pointer;
	background-color: #333;
	padding: 5px 10px;
}

.properties > a{
	position: absolute;
	top: 0;
	right: -15%;
	font-size: 25px;
	cursor: pointer;
	background-color: #333;
	padding: 5px 10px;
}

.navbar > a:hover{
	animation: spin 1s linear;
}

.properties > a:hover{
	animation: spin 1s linear;
}

#code{
	display: block;
	background: #1D1F21;
	color: #fff;
	width: 98%;
	height: auto;
	position: absolute;
	left: 50%;
	bottom: 80%;
	transform: translate(-50%,80%);
	margin-left: -1500px;
}

.code #close{
	position: absolute;
	right: 0%;
	top: 0%;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	font-weight: bolder;
	padding: 3px 10px;
	background: #E04343;
}

.sideCode{
	/*transform: scale(1) rotateX(0);*/
	margin-left: 0!important;
	transition: 0.5s ease-in-out;
}


@keyframes spin{
	10%{
		transform: scale(1.2);
		transition: 0.5s ease-in;
	}
}

.navbar label{
	display: block;
	padding: 15px 5px;
	border-bottom: solid 2px rgba(202,201,201, 0.1);
	margin: 5px; 
	font-weight: bold;
}

.properties label{
	display: block;
	padding: 15px 5px;
	border-bottom: solid 2px rgba(202,201,201, 0.1);
	margin: 5px; 
	font-weight: bold;
}



.side{
	transform: scale(1) rotateX(0);
	margin-left: 90px;
	transition: 0.5s ease-in-out;
}

.sidepanel{
	transform: scale(1) rotateX(0)!important;
	margin-left: 0!important;
	transition: 0.5s ease-in-out!important;
}


/*.sideRight{
	transform: scale(0) rotateX(0);
	margin-left: -500px;
	transition: 0.7s ease-in-out;
}*/

.wrapColor{
	padding: 20px 10px 10px; 
	width: 210px;
	/*background: #333;*/
	margin-top: 50px;
}

.addingText{
	background: #F62541;
	width: 18%;
	color: #24242A;
	padding: 20px;
	position: absolute;
	top: 5%;
	left: 7.5%;
	margin-left: -500px;
	transform: scale(0.2) rotate(0);
	transition: 0.5s ease-in-out;
	height: auto;
}

.addingText > #closeTextMenu{
	top: 0;
	right: -11.2%;
	font-size: 25px;
	cursor: pointer;
	background-color: #333;
	padding: 5px 10px;
	position: absolute;
	color: #fff;
}

.addingText > #closeTextMenu:hover{
	animation: spin 1s linear;
}


.wrapper{
	background-image: url(1.jpg);
	background-size: cover;
	width: 50%;
	height: 250px;
	margin: 5% auto;
	overflow: hidden;
}

.wrapper > p{
	position: relative;
	/*text-align: center;*/
}

.defaultImg > p{
	position: absolute;
}

.wrapColor h1{
	color: #eee;
	padding-bottom: 20px;
}

.wrapColor input[type=range]{
	-webkit-appearance:none;
	width:120px;
	height:3px;
	background:#000;
	outline:none;
}

.wrapColor input[type=range]::-webkit-slider-thumb{
	-webkit-appearance:none;
	width:20px;
	height:20px;
	cursor: pointer;
	border-radius:100%;
	background:#fff;
	border:2px solid #000;
}
		
.wrapColor #palitra{
	width:160px;
	height:160px;
	background:#ffff;
	border:2px solid #000;
}

.wrapColor span{
	position: relative;
	left: 5%;
	transform: translate(-5%);
}

.wrapColor input[type=range]{
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.wrapColor span{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.wrapColor p{
	position: relative;
	margin: 35px 0 5px;
	color: #eee;
}