@import url('https://fonts.googleapis.com/css?family=Roboto');

$ff: 'Roboto', sans-serif;



*{
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	list-style: none;
	font-family: $ff;
}

header{
	position: fixed;
	height: 50px;
	width: 100%;
	background: #333;
	color: #fff;
	ul{
		padding: 10px 25px;
		font-size: 20px;
	}

	ul > li:last-child{
		float: right;
	}

	ul > li:first-child{
		float: left;
	}

	li > a > i{
		color: #F1825F;
		transition: 0.1s ease-in-out; 
		&:hover{
			transform: scale(1.2);
		}
		&:active{
			color: #F1B3A0;
		}
	}

	p{
		position: relative;
		text-align: center;
	}
}

main{
	.wrap{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.wrap > img{
		width: 35%;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -40%);
		z-index: -10;
	}
}

footer{
	padding: 25px 0 10px;
	text-align: center;
	background: #333333;
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	h3{
		padding: 10px 0;
	}
}