<!DOCTYPE html>

<html lang="en">

<head>
    <title>as HTML5 Template</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="as HTML5 Template" />
    <meta name="author" content="My studio" />
    <meta name="MobileOptimized" content="320" />
    <!-- theme style -->
    <link href="CssAndLibs/bootstrap.min.css" tppabs="CssAndLibs/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap css -->
    <link href="CssAndLibs/font-awesome.min.css" tppabs="CssAndLibs/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- fontawesome css -->
    <link href="CssAndLibs/linearicons.css" tppabs="CssAndLibs/linearicons.css" rel="stylesheet" type="text/css" />
    <!-- linear icons css -->
    <link href="CssAndLibs/eleganticon.css" tppabs="CssAndLibs/eleganticon.css" rel="stylesheet" type="text/css" />
    <!-- elegant icons css -->
    <link href="CssAndLibs/organicfood.css" tppabs="CssAndLibs/organicfood.css" rel="stylesheet" type="text/css" />
    <!-- organicfood icons css -->
    <link href="../../../fonts.googleapis.com/css-family=Lato-400,700,900-Poppins-300,400,500,600,700-Sofia.css" tppabs="https://fonts.googleapis.com/css?family=Lato:400,700,900|Poppins:300,400,500,600,700|Sofia" rel="stylesheet">
    <!-- google font -->
    <link rel="stylesheet" type="text/css" href="fonts/appleberry.ttf" tppabs="fonts/appleberry.ttf">
    <!-- font -->
    <link href="../../../fonts.googleapis.com/css-family=Qwigley.css" tppabs="https://fonts.googleapis.com/css?family=Qwigley" rel="stylesheet">
    <!--  google fonts -->
    <link rel="stylesheet" type="text/css" href="CssAndLibs/menumaker.css" tppabs="css/menumaker.css">
    <link rel="stylesheet" type="text/css" href="CssAndLibs/menumaker.css" tppabs="css/menumaker.css">
    <!-- menu css -->
    <link href="CssAndLibs/owl.carousel.css" tppabs="CssAndLibs/owl.carousel.css" rel="stylesheet" type="text/css" />
    <!-- owl carousel css -->
    <link href="CssAndLibs/style.css" tppabs="CssAndLibs/style.css" rel="stylesheet" type="text/css" />
    <!-- custom css -->
    <!-- end theme style -->
</head>
<!--body start-->

<body>
    <!-- preloader -->
    <div class="preloader">
        <div class="status">
            <div class="status-message">
            </div>
        </div>
    </div>
    <!-- end preloader -->
    
    <div class="cont">
      <div class="progress"></div>
    </div>

    <!-- bg fix -->
    <div id="bg-fix" class="bg-fix" style="background-image: url(images/bg-1.jpg);">
        <!-- navigation -->
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="logo">
                            <a href="index.html" tppabs="index.html" title="Logo" class="img-responsive" alt="logo"><img src="images/logo.png" tppabs="images/logo.png"></a>
                        </div>
                    </div>
                    <div class="col-md-7 pad-rt-o">
                        <div class="navigation">
                            <div id="cssmenu">
                                <ul>
                                    <li class="active"><a href="#">Home</a>
                                        
                                    </li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Sale</a>
                                        <ul>
                                            <li><a href="#">403 Page</a></li>
                                            <li><a href="#">404 Page</a></li>
                                            <li><a href="#">Coming Soon</a></li>
                                            <li><a href="#">Faq's</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Blogs</a>
                                        <ul>
                                            <li><a href="#">Lorem ipsum dolor.</a></li>
                                            <li><a href="#">Lorem Left Left sit.</a></li>
                                            <li><a href="#">Sea sonet invidunt</a></li>
                                            <li><a href="#">Animal persius molesti</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="#">Brute blandit intellegebat</a></li>
                                            <li><a href="#">Disputando duo at</a></li>
                                            <li><a href="#">There are many variations</a></li>
                                            <li><a href="#">All the Lorem Ipsum</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Contact</a>
                                        <ul>
                                            <li><a href="#">The first line</a></li>
                                            <li><a href="#">The standard chunk</a></li>
                                            <li><a href="#">Finibus Bonorum et</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="nav-info-bar hidden-sm hidden-xs">
                            <ul class="info-list">
                                <li>User Name</li>
                                <li><a href="#" title="Login">Login</a></li>
                                <li><a href="#" title="Sign Up">Sign Up</a></li>
                                <li>
                                    <div class="nav-dropdown">
                                        <div class="language-dropdown dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      			                <span class="drp-name" data-bind="label">Choose Your Language</span>
                      			                <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                      			              </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li><a href="#" title="Spanish">Spanish</a></li>
                                                <li><a href="#" title="English">Eng (U.K.)</a></li>
                                                <li><a href="#" title="French">French</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1 hidden-xs hidden-sm">
                        <div class="navbar-cart-icon">
                            <a href="#" title="Cart" id="cart" class="cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                <div class="item-no">2</div>
                            </a>
                        </div>
                        <!-- cart -->
                        <ul class="cart-box">
                            <li class="cart-content">
                                <div class="cart-img">
                                    <a href="#" tppabs="#" title="Pomegranate"><img src="images/newest-pro-1.png" tppabs="images/newest-pro-1.png"></a>
                                </div> 
                                <div class="cart-dtl">
                                    <h6 class="cart-title"><a href="#" tppabs="#" title="Pomegranate">Rosted Bread</a></h6>
                                    <div class="cart-meta">
                                        <div class="cart-price">Price: $98.00</div>
                                        <div class="cart-qty">Qty: 1</div>
                                    </div>
                                    <div class="cart-remove">
                                        <a href="#" title="Remove From Cart"><i class="fa fa-close"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li class="cart-content">
                                <div class="cart-img">
                                    <a href="#" tppabs="#" title="Lemon"><img src="images/our-story-img.png" tppabs="images/our-story-img.png" alt="Product"></a>
                                </div>
                                <div class="cart-dtl">
                                    <h6 class="cart-title"><a href="#" tppabs="#" title="Lemon">Broune</a></h6>
                                    <div class="cart-meta">
                                        <div class="cart-price">Price: $79.00</div>
                                        <div class="cart-qty">Qty: 9</div>
                                    </div>
                                    <div class="cart-remove">
                                        <a href="#" title="Remove From Cart"><i class="fa fa-close"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li class="cart-content">
                                <div class="cart-img">
                                    <a href="#" tppabs="#" alt="Product"></a>
                                </div>
                                <div class="cart-dtl">
                                    <h6 class="cart-title"><a href="#" tppabs="#" title="Berry">Rey Bread</a></h6>
                                    <div class="cart-meta">
                                        <div class="cart-price">Price: $50.00</div>
                                        <div class="cart-qty">Qty: 2</div>
                                    </div>
                                    <div class="cart-remove">
                                        <a href="#" title="Remove From Cart"><i class="fa fa-close"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li class="cart-subtotal text-right">Total: $227</li>
                            <li class="cart-footer">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="#" tppabs="#" title="View Cart">View Cart</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="#" tppabs="#" class="btn btn-default" title="Checkout">Checkout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
        
                    </div>
                </div>
            </div>
        </div>
        <!-- end navigation -->
        <!-- home slider -->
        <div id="home-slider-block" class="home-slider">
            <div class="container">
                <div id="home-slider">
                    <div class="item bread-slider">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-sm-8 pad-rt-o">
                                        <div class="heading-section">
                                            <h1 class="slider-heading">Very delicious bread</h1>
                                            <h5 class="slider-sub-heading">It's just bread, it's not necessary to read this</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-offset-0 col-xs-offset-3 col-xs-6 col-sm-4 pad-lft-0">
                                        <div class="slider-img">
                                            <img src="images/slider-1.png" tppabs="images/slider-1.png" class="img-responsive" alt="slider-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="slider-text">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item bread-slider">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-sm-8 pad-rt-o">
                                        <div class="heading-section">
                                            <h1 class="slider-heading">Cheap bread</h1>
                                            <h5 class="slider-sub-heading">Lorem Ipsum comes from sections written in BC!</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-offset-0 col-sm-4 col-xs-offset-3 col-xs-6 pad-0">
                                        <div class="slider-img">
                                            <img src="images/slider-2.png" tppabs="images/slider-2.png" class="img-responsive" alt="slider-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pad-lft-0">
                                <div class="slider-text">
                                    <p>Ei pri dicta labore contentiones. Ne alia habeo ludus vel, ei iriure feugait nec. Per no cibo menandri reprehendunt, nam quodsi iuvaret admodum te. Novum movet aperiam an per. Qui ut odio appetere, iuvaret accusata patrioque ei his, corpora tincidunt eam no.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end home slider -->
    </div>
    <!-- bg fix -->
    <!-- our story -->
    <section id="our-story" class="our-story-main-block bg-fix" style="background-image: url('images/bg-2.jpg');">
        <div class="container">
            <div class="our-story-block">
                <div class="row">
                    <div class="col-md-offset-1 col-md-3 col-sm-6 pad-rt-o">
                        <div class="our-story-heading-block">
                            <h5 class="our-story-sub-heading">Satisfied Customers</h5>
                            <h1 class="our-story-heading">Exe</h1>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-md hidden-lg pad-lft-0">
                        <div class="our-story-heading-block-two">
                            <h1 class="our-story-heading">Text</h1>
                            <div class="year">in <span>1939</span></div>
                        </div>
                    </div>
                    <div class="col-md-5 pad-0">
                        <div class="our-story-img-block">
                            <div class="our-story-img">
                                <img src="images/our-story-img.png" tppabs=images/our-story-img.png" class="img-responsive" alt="our-story-img">
                            </div>
                            <div class="our-story-text-block" style="background-image: url('images/our-story-text-bg.png');">
                                <div class="our-story-text text-center">
                                    <h3 class="our-story-text-heading">Where does it</h3>
                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a</p>
                                    <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
                                </div>
                                <div class="signature-block text-right">
                                    <div class="signature">
                                        <h1 class="sign">Ivan Lobov</h1>
                                    </div>
                                    <div class="director-block">
                                        <h4 class="director-heading">Benjamin Batom</h4>
                                        <div class="director-sub-heading">Administrator</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs pad-lft-0">
                        <div class="our-story-heading-block-two">
                            <h1 class="our-story-heading">Text</h1>
                            <div class="year">in <span>1939</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end our story -->
    <!-- newest product -->
    <section id="newest-product" class="newest-product-main-block bg-fix" style="background-image: url('images/bg-3.jpg');">
        <div class="container">
            <div class="section text-center">
                <div class="section-icon">
                    <i class="icon-bread-organicfood-v1-codrops-wojciechzasina"></i>
                </div>
                <h1 class="section-heading">The newest</h1>
                <h3 class="section-sub-heading">Products</h3>
            </div>
            <div id="new-product-slider" class="new-product-slider">
                <div class="item">
                    <div class="product-block">
                        <div class="product-img">
                            <img src="images/newest-pro-1.png" tppabs="images/newest-pro-1.png" class="img-responsive" alt="product">
                        </div>
                        <div class="product-dtl">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <div class="product-name"><a href="#" title="Product">loaf</a></div>
                                    <div class="product-type">bread with flour</div>
                                </div>
                            </div>
                        </div>
                        <div class="product-price-info">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="product-price-info-icons">
                                        <a href="#" title="basket"><i class="fa fa-shopping-basket" aria-hidden="true"></i>basket</a>
                                        <a href="#" title="read more"><i class="fa fa-file-text-o" aria-hidden="true"></i>more</a>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="price"><span>$15</span> $12</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-block">
                        <div class="product-img">
                            <img src="images/newest-pro-2.png" tppabs="images/newest-pro-2.png" class="img-responsive" alt="product">
                        </div>
                        <div class="product-dtl">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <div class="product-name"><a href="#" title="Product">Bread Roll</a></div>
                                    <div class="product-type">Regular bread</div>
                                </div>
                            </div>
                        </div>
                        <div class="product-price-info">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="product-price-info-icons">
                                        <a href="#" title="basket"><i class="fa fa-shopping-basket" aria-hidden="true"></i>basket</a>
                                        <a href="#" title="read more"><i class="fa fa-file-text-o" aria-hidden="true"></i>more</a>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="price"><span>$28</span> $</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-block">
                        <div class="product-img">
                            <img src="images/newest-pro-3.png" tppabs="images/newest-pro-3.png" class="img-responsive" alt="product">
                        </div>
                        <div class="product-dtl">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <div class="product-name"><a href="#" title="Product">Croissants</a></div>
                                    <div class="product-type">with chocolate</div>
                                </div>
                            </div>
                        </div>
                        <div class="product-price-info">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="product-price-info-icons">
                                        <a href="#" title="basket"><i class="fa fa-shopping-basket" aria-hidden="true"></i>basket</a>
                                        <a href="#" title="read more"><i class="fa fa-file-text-o" aria-hidden="true"></i>more</a>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="price"><span>$11</span> $8</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-block">
                        <div class="product-img">
                            <img src="images/newest-pro-1.png" tppabs="images/newest-pro-1.png" class="img-responsive" alt="product">
                        </div>
                        <div class="product-dtl">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <div class="product-name"><a href="#" title="Product">Baguette</a></div>
                                    <div class="product-type">as Bread</div>
                                </div>
                            </div>
                        </div>
                        <div class="product-price-info">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="product-price-info-icons">
                                        <a href="#" title="basket"><i class="fa fa-shopping-basket" aria-hidden="true"></i>basket</a>
                                        <a href="#" title="read more"><i class="fa fa-file-text-o" aria-hidden="true"></i>more</a>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="price"><span>$18</span> $11</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-block">
                        <div class="product-img">
                            <img src="images/newest-pro-2.png" tppabs="images/newest-pro-2.png" class="img-responsive" alt="product">
                        </div>
                        <div class="product-dtl">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <div class="product-name"><a href="#" title="Product">Bread Roll</a></div>
                                    <div class="product-type">as Bread</div>
                                </div>
                            </div>
                        </div>
                        <div class="product-price-info">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="product-price-info-icons">
                                        <a href="#" title="basket"><i class="fa fa-shopping-basket" aria-hidden="true"></i>basket</a>
                                        <a href="#" title="read more"><i class="fa fa-file-text-o" aria-hidden="true"></i>more</a>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="price"><span>$25</span> $18</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-block">
                        <div class="product-img">
                            <img src="images/newest-pro-3.png" tppabs="images/newest-pro-3.png" class="img-responsive" alt="product">
                        </div>
                        <div class="product-dtl">
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-8">
                                    <div class="product-name"><a href="#" title="Product">Rye Bread</a></div>
                                    <div class="product-type">as Bread</div>
                                </div>
                            </div>
                        </div>
                        <div class="product-price-info">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="product-price-info-icons">
                                        <a href="#" title="basket"><i class="fa fa-shopping-basket" aria-hidden="true"></i>basket</a>
                                        <a href="#" title="read more"><i class="fa fa-file-text-o" aria-hidden="true"></i>more</a>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="price"><span>$30</span> $22</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end newest product -->
    <!-- custom cake block -->
    <section id="custom-cake-main-block" class="custom-cake-main-block bg-fix" style="background-image: url('images/custom-cake-bg.jpg');">
        <div class="overlay-bg" style="background-img: url('images/custom-cake-overlay.png');"></div>
        <div class="container">
            <div class="custom-cake-block text-center">
                <h5 class="custom-cake-sub-heading">It uses a dictionary of over</h5>
                <h2 class="custom-cake-heading">Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero</h2>
                <a href="#" class="btn btn-default-two">Leran more</a>
            </div>
        </div>
    </section>
    <!-- end custom cake block -->
    <!-- latest news feed -->
    <section id="latest-news-main-block" class="latest-news-main-block bg-fix" style="background-image: url('images/bg-4.jpg');">
        <div class="container">
            <div class="section text-center">
                <div class="section-icon">
                    <i class="fs1" aria-hidden="true" data-icon=""></i>
                </div>
                <h1 class="section-heading">Latin </h1>
                <h3 class="section-sub-heading">words, combined</h3>
            </div>
            <div id="latest-news-slider" class="latest-news-slider">
                <div class="item">
                    <div class="latest-news-block">
                        <div class="latest-news-img">
                            <img src="images/latest-new-1.jpg" tppabs="images/latest-new-1.jpg" class="img-responsive" alt="latest-news">
                        </div>
                        <div class="latest-news-dtl" style="background-image: url('images/news-dtl-bg.jpg');">
                            <div class="date">Lorem Ipsum is not</div>
                            <h4 class="latest-news-dtl-heading"><a href="#" title="News">All the Lorem Ipsum generators on the</a></h4>
                            <h6 class="latest-news-dtl-sub-heading">Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors
                            </h6>
                            <a href="#" class="btn read-more" title="Read More">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="latest-news-block">
                        <div class="latest-news-img">
                            <img src="images/latest-new-2.jpg" tppabs="images/latest-new-2.jpg" class="img-responsive" alt="latest-new">
                        </div>
                        <div class="latest-news-dtl" style="background-image: url('images/news-dtl-bg.jpg');">
                            <div class="date">Lorem Ipsum is not</div>
                            <h4 class="latest-news-dtl-heading"><a href="#" title="News">All the Lorem Ipsum generators on the</a></h4>
                            <h6 class="latest-news-dtl-sub-heading">Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors
                            </h6>
                            <a href="#" class="btn read-more" title="Read More">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="latest-news-block">
                        <div class="latest-news-img">
                            <img src="images/latest-new-3.jpg" tppabs="images/latest-new-3.jpg" class="img-responsive" alt="latest-new">
                        </div>
                        <div class="latest-news-dtl" style="background-image: url('images/news-dtl-bg.jpg');">
                            <div class="date">Lorem Ipsum is not</div>
                            <h4 class="latest-news-dtl-heading"><a href="#" title="News">All the Lorem Ipsum generators on the</a></h4>
                            <h6 class="latest-news-dtl-sub-heading">Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors
                            </h6>
                            <a href="#" class="btn read-more" title="Read More">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="latest-news-block">
                        <div class="latest-news-img">
                            <img src="images/latest-new-2.jpg" tppabs="images/latest-new-2.jpg" class="img-responsive" alt="latest-new">
                        </div>
                        <div class="latest-news-dtl" style="background-image: url('images/news-dtl-bg.jpg');">
                            <div class="date">Lorem Ipsum is not</div>
                            <h4 class="latest-news-dtl-heading"><a href="#" title="News">All the Lorem Ipsum generators on the</a></h4>
                            <h6 class="latest-news-dtl-sub-heading">Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors
                            </h6>
                            <a href="#" class="btn read-more" title="Read More">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="latest-news-block">
                        <div class="latest-news-img">
                            <img src="images/latest-new-1.jpg" tppabs="images/latest-new-1.jpg" class="img-responsive" alt="latest-new">
                        </div>
                        <div class="latest-news-dtl" style="background-image: url('images/news-dtl-bg.jpg');">
                            <div class="date">Lorem Ipsum is not</div>
                            <h4 class="latest-news-dtl-heading"><a href="#" title="News">All the Lorem Ipsum generators on the.</a></h4>
                            <h6 class="latest-news-dtl-sub-heading">Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors
                            </h6>
                            <a href="#" class="btn read-more" title="Read More">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="latest-news-block">
                        <div class="latest-news-img">
                            <img src="images/latest-new-3.jpg" tppabs="images/latest-new-3.jpg" class="img-responsive" alt="latest-new">
                        </div>
                        <div class="latest-news-dtl" style="background-image: url('images/news-dtl-bg.jpg');">
                            <div class="date">Lorem Ipsum is not</div>
                            <h4 class="latest-news-dtl-heading"><a href="#" title="News">All the Lorem Ipsum generators on the.</a></h4>
                            <h6 class="latest-news-dtl-sub-heading">Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors
                            </h6>
                            <a href="#" class="btn read-more" title="Read More">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="latest-news-block">
                        <div class="latest-news-img">
                            <img src="images/latest-new-1.jpg" tppabs="images/latest-new-1.jpg" class="img-responsive" alt="latest-new">
                        </div>
                        <div class="latest-news-dtl" style="background-image: url('images/news-dtl-bg.jpg');">
                            <div class="date">Lorem Ipsum is not</div>
                            <h4 class="latest-news-dtl-heading"><a href="#" title="News">All the Lorem Ipsum generators on the</a></h4>
                            <h6 class="latest-news-dtl-sub-heading">Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors
                            </h6>
                            <a href="#" class="btn read-more" title="Read More">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="latest-news-block">
                        <div class="latest-news-img">
                            <img src="images/latest-new-2.jpg" tppabs="images/latest-new-2.jpg" class="img-responsive" alt="latest-new">
                        </div>
                        <div class="latest-news-dtl" style="background-image: url('images/news-dtl-bg.jpg');">
                            <div class="date">Lorem Ipsum is not</div>
                            <h4 class="latest-news-dtl-heading"><a href="#" title="News">All the Lorem Ipsum generators on the</a></h4>
                            <h6 class="latest-news-dtl-sub-heading">Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors
                            </h6>
                            <a href="#" class="btn read-more" title="Read More">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="latest-news-block">
                        <div class="latest-news-img">
                            <img src="images/latest-new-3.jpg" tppabs="images/latest-new-3.jpg" class="img-responsive" alt="latest-new">
                        </div>
                        <div class="latest-news-dtl" style="background-image: url('images/news-dtl-bg.jpg')/;">
                            <div class="date">Lorem Ipsum is not</div>
                            <h4 class="latest-news-dtl-heading"><a href="#" title="News">All the Lorem Ipsum generators on the</a></h4>
                            <h6 class="latest-news-dtl-sub-heading">Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors
                            </h6>
                            <a href="#" class="btn read-more" title="Read More">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end latest new feed -->
    <!-- client block -->
    <section id="client-main-block" class="client-main-block">
        <div class="container">
            <div id="client-slider" class="client-slider">
                <div class="item">
                    <div class="client-img">
                        <img src="images/icons/client-01.png" tppabs="images/icons/client-01.png" class="img-responsive" alt="client">
                    </div>
                </div>
                <div class="item">
                    <div class="client-img">
                        <img src="images/icons/client-02.png" tppabs="images/icons/client-02.png" class="img-responsive" alt="client">
                    </div>
                </div>
                <div class="item">
                    <div class="client-img">
                        <img src="images/icons/client-03.png" tppabs="images/icons/client-03.png" class="img-responsive" alt="client">
                    </div>
                </div>
                <div class="item">
                    <div class="client-img">
                        <img src="images/icons/client-04.png" tppabs="images/icons/client-04.png" class="img-responsive" alt="client">
                    </div>
                </div>
                <div class="item">
                    <div class="client-img">
                        <img src="images/icons/client-05.png" tppabs="images/icons/client-05.png" class="img-responsive" alt="client">
                    </div>
                </div>
                <div class="item">
                    <div class="client-img">
                        <img src="images/icons/client-01.png" tppabs="images/icons/client-01.png" class="img-responsive" alt="client">
                    </div>
                </div>
                <div class="item">
                    <div class="client-img">
                        <img src="images/icons/client-02.png" tppabs="images/icons/client-02.png" class="img-responsive" alt="client">
                    </div>
                </div>
                <div class="item">
                    <div class="client-img">
                        <img src="images/icons/client-03.png" tppabs="images/icons/client-03.png" class="img-responsive" alt="client">
                    </div>
                </div>
                <div class="item">
                    <div class="client-img">
                        <img src="images/icons/client-04.png" tppabs="images/icons/client-04.png" class="img-responsive" alt="client">
                    </div>
                </div>
                <div class="item">
                    <div class="client-img">
                        <img src="images/icons/client-05.png" tppabs="images/icons/client-05.png" class="img-responsive" alt="client">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end client block -->
    <!-- footer -->
    <footer id="footer-main-block" class="footer-main-block bg-fix" style="background-image: url('images/bg-5.jpg');">
        <div class="footer-block text-center">
            <div class="container">
                <div class="footer-logo">
                    <img src="images/logo.png" tppabs="images/logo.png" class="img-responsive" alt="logo">
                </div>
                <div class="footer-block-dtl">
                    <h3 class="footer-heading">The point of using Lorem</h3>
                    <p class="footer-text">readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search </p>
                    <div class="btn-section">
                        <a href="#" class="btn btn-default" title="Register">Subscribe</a>
                        <a href="#" class="btn btn-default" title="Schedule">Sin In</a>
                    </div>
                    <ul class="social-btns">
                        <li class="google-plus"><a href="#" tppabs="#" target="_blank" title="Google"><i class="fa fa-google-plus"></i></a></li>
                        <li class="instagram"><a href="#" tppabs="#" target="_blank" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

                        
                        <li class="facebook"><a href="#" tppabs="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="email">Email: <a href="mailto:#" title="E-Mail">mail-1950@.com</a></div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="copyright-text"> 2017 <a href="#" target="_blank" title="Copy">My-studio</a>. All rights reserved. &copy;</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jquery -->
    <script type="text/javascript" src="js/jquery.min.js" tppabs="js/jquery.min.js "></script>

    <script type="text/javascript" src="js/bootstrap.min.js" tppabs="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/owl.carousel.js" tppabs="js/owl.carousel.js"></script>

    <script type="text/javascript" src="js/smooth-scroll.js" tppabs="js/smooth-scroll.js"></script>
   
    <script type="text/javascript" src="js/menumaker.js" tppabs="js/menumaker.js"></script>
  
    <script type="text/javascript" src="js/theme.js" tppabs="js/theme.js"></script>

</body>
<!--body end -->

</html>
