<!DOCTYPE html>
<html lang="en">
<head>
	<title>Giant App</title>
	<meta charset="UTF-8">
	<meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="" />	
	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid-3.3.1.min.css" type='text/css'>
	<link rel="stylesheet" href="libs/font-awesome-4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/media.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="libs/card slider/css/light.css">
	<link rel="stylesheet" href="libs/owl/owl.carousel.min.css">
	<link rel="stylesheet" href="libs/owl/owl.theme.default.min.css">

</head>
<body>


		<section class="headerBanner">
			<header>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="headerSection">
								<div class="topnav" id="myTopnav">
									<img src="img/Logo.png" alt="logo">
  									<a href="#" style="font-size:15px;" class="icon">&#9776;</a>
  									<ul>
  										<a href="#">Home</a>
  										<a href="#news">Features</a>
  										<a href="#contact">Pricing</a>
  										<a href="#"><button>Download Now</button></a>
  									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="headerUnder">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-12">
								<h1>A Powerful & Unique <br> App Landing Template </h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited colors: banner with images, slider or video</li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>Fully Responsive and powered by HTML5 and CSS3</li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>Very easy to customize : set up in minutes</li>
								<button>Start Explore Us</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="features">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
							<div class="col-md-4">
								<div class="icon">
                                    <i class="fa fa-tags" aria-hidden="true"></i>	
								</div>
								<div class="block">
									<h3>Sell any product online</h3>
									<p>Over 92% of computers are infected with Adware and spyware. Such software is </p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="icon">
									<i class="fa fa-cog" aria-hidden="true"></i>
								</div>
								<div class="block">
									<h3>Very easy to customize</h3>
									<p>Many of us are so used to working on a computer desktop that when it comes</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="icon">
									<i class="fa fa-paint-brush" aria-hidden="true"></i>
								</div>
								<div class="block">
									<h3>Unlimited colors</h3>	
									<p>Audio player software is used to play back sound recordings in one of the many</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="icon">
									<i class="fa fa-fire-extinguisher" aria-hidden="true"></i>
								</div>
								<div class="block">
									<h3>Responsive, HTML5, CSS3</h3>
									<p>Computers have become ubiquitous in almost every facet of our lives. At work,</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="icon">
									<i class="fa fa-file-text" aria-hidden="true"></i>
								</div>
								<div class="block">
									<h3>Designed to convert</h3>
									<p>If you are looking for a new way to promote your business that won’t cost</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="icon">
									<i class="fa fa-life-ring" aria-hidden="true"></i>
								</div>
								<div class="block">
									<h3>With no boundaries</h3>
									<p>Now, if you are interested in being the best player, getting really good money and</p>
								</div>
							</div>
					</div>
				</div>
			</div>
		</section>

		<section class="dontLeave">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="phone">
								<img src="img/iPhone.jpg" alt="">
							</div>
						</div>
						<div class="col-md-6">
							<div class="wrap">
								<h2>We don’t leave you stranded</h2>
								<p>Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?</p>
								<p>Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill? If you’re already a developer, or a PM, or a UX designer.</p>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>Unlimited colors: banner with images, slider or video</li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>Fully Responsive and powered by HTML5 and CSS3</li>
								<li><i class="fa fa-check-circle" aria-hidden="true"></i>Very easy to customize : set up in minutes</li>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class='screenshots'>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Take a look at our screenshots</h2>
						<p>Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a <br> UX designer, why develop this totally separate skill?</p>
					</div>
				</div>
				<div class="row">
					<div class="slider">
						<input type="radio" name="slider" id="slide-1" class="slider__radio">
						<input type="radio" name="slider" id="slide-2" class="slider__radio">
						<input type="radio" name="slider" id="slide-3" class="slider__radio" checked>
						<input type="radio" name="slider" id="slide-4" class="slider__radio">
						<input type="radio" name="slider" id="slide-5" class="slider__radio">

						<div class="slider__holder">

							<label for="slide-1" class="slider__item slider__item--1 card">
							    <div class="slider__item-content">
							        <img src="img/Portfolio.jpg" alt="">
							    </div>
							 </label> <!-- Slider__item -->

							 <label for="slide-2" class="slider__item slider__item--2 card">
							    <div class="slider__item-content">
							        <img src="img/Portfolio.jpg" alt="">
							    </div>
							 </label> <!-- Slider__item -->

							 <label for="slide-3" class="slider__item slider__item--3 card">
							    <div class="slider__item-content">
							        <img src="img/Portfolio.jpg" alt="">
							    </div>
							 </label> <!-- Slider__item -->

							 <label for="slide-4" class="slider__item slider__item--4 card">
							    <div class="slider__item-content">
							        <img src="img/Portfolio.jpg" alt="">
							    </div>
							 </label> <!-- Slider__item -->

							 <label for="slide-5" class="slider__item slider__item--5 card">
							    <div class="slider__item-content">
							        <img src="img/Portfolio.jpg" alt="">
							    </div>
							 </label> <!-- Slider__item -->
								
						</div> <!-- Slider Holder -->
					</div>
				</div>
			</div>
		</section>
		<section class="pricing">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>We've got the perfect package for you</h2>
						<p>Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a <br>UX designer, why develop this totally separate skill?</p>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="cards">
								<h4>Basic</h4>
								<img src="img/priseOne.png">
								<div class="plan">
									<p>One User</p> 
									<p>Multiple Access</p>
									<p>SMS Support</p>
									<p>24/7 Online Support</p>
									<span>Start Free Trial</span><br>
									<button>Buy Now</button>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="cards red">
								<h4>Sandart</h4>
								<img src="img/priseTwoo.png">
								<div class="plan">
									<p>One User</p> 
									<p>Multiple Access</p>
									<p>SMS Support</p>
									<p>24/7 Online Support</p>
									<span>Start Free Trial</span><br>
									<button>Buy Now</button>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="cards">
								<h4>Premium</h4>
								<img src="img/priseThree.png">
								<div class="plan">
									<p>One User</p> 
									<p>Multiple Access</p>
									<p>SMS Support</p>
									<p>24/7 Online Support</p>
									<span>Start Free Trial</span><br>
									<button>Buy Now</button>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="cards">
								<h4>Enterprise</h4>
								<img src="img/priseFour.png">
								<div class="plan">
									<p>One User</p> 
									<p>Multiple Access</p>
									<p>SMS Support</p>
									<p>24/7 Online Support</p>
									<span>Start Free Trial</span><br>
									<button>Buy Now</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="video">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<button>
							<i class="fa fa-play" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
		</section>
		<section class="feedback">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>What our customers are saying</h2>
						<p>Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a <br>UX designer, why develop this totally separate skill?</p>

						<div class="sideSlider">
							
							<div class="carousel-wrap">
							  <div class="owl-carousel">
							   <div class="item">
							    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste provident non, minus qui consectetur!</p>
							    	<img src="img/personeOne.png" alt="img">
							    	<div class="user">
							    		<h5>Alexandra Bullock</h5>
							    		<span>Apple Inc.</span>
							    	</div>
							    </div>
							    <div class="item white">
							    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste provident non, minus qui consectetur!</p>
							    	<img src="img/personeTwoo.png" alt="img">
							    	<div class="user">
							    		<h5>Gary Sebastian</h5>
							    		<span>Apple Inc.</span>
							    	</div>
							    </div>
							    <div class="item">
							    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste provident non, minus qui consectetur!</p>
							    	<img src="img/personeThree.png" alt="img">
							    	<div class="user">
							    		<h5>Samantha Bilbau</h5>
							    		<span>Apple Inc.</span>
							    	</div>
							    </div>
							    <div class="item">
							    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste provident non, minus qui consectetur!</p>
							    	<img src="img/personeOne.png" alt="img">
							    	<div class="user">
							    		<h5>Alexandra Bullock</h5>
							    		<span>Apple Inc.</span>
							    	</div>
							    </div>
							    <div class="item white">
							    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste provident non, minus qui consectetur!</p>
							    	<img src="img/personeTwoo.png" alt="img">
							    	<div class="user">
							    		<h5>Gary Sebastian</h5>
							    		<span>Apple Inc.</span>
							    	</div>
							    </div>
							    <div class="item">
							    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste provident non, minus qui consectetur!</p>
							    	<img src="img/personeThree.png" alt="img">
							    	<div class="user">
							    		<h5>Samantha Bilbau</h5>
							    		<span>Apple Inc.</span>
							    	</div>
							    </div>
							    
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="download">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Donwload Giant App Now</h2>
						<div class="os">
							<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="platform">
								<a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a>
								<h4>Download</h4>
								<span>Download from app store</span>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="platform">
								<a href="#"><i class="fa fa-android" aria-hidden="true"></i></a>
								<h4>Download</h4>
								<span>Download from play store</span>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="platform">
								<a href="#"><i class="fa fa-windows" aria-hidden="true"></i></a>
								<h4>Download</h4>
								<span>Download from microsoft store</span>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="links">
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>

						<p>Copyright © 2017  |  UXSEVEN - a sister concern of codepixar.com</p>
					</div>
				</div>
			</div>
		</footer>

	
	

	<script src="http://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
	<script src="libs/owl/jquery.min.js"></script>
	<script src="libs/owl/owl.carousel.min.js"></script>
	<script src='js/common.js'></script>
</body>
</html>